<p id="notice"><%= notice %></p>

<div class="container">
  <div class="form-group">
    <label class="control-label">Title:</label>
    <div class="">
      <%= @research.title %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Description:</label>
    <div class="">
      <%= @research.description %>
    </div>
  </div>
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_research_path(@research) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', researches_path %></button>
</div>