<p id="notice"><%= notice %></p>

<div class="container">
  <div class="form-group">
    <label class="control-label">Name:</label>
    <div class="">
      <%= @article.name %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Research:</label>
    <div class="">
      <%= @article.research.title %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Comment:</label>
    <div class="">
      <%= @article.commet %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Indexes:</label>
    <div class="">
      <%= @article.indexes %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Link:</label>
    <div class="">
      <%= @article.link %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Applied:</label>
    <div class="">
      <%= @article.applied %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Ammount:</label>
    <div class="">
      <%= @article.ammount %>
    </div>
  </div>
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_article_path(@article) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', articles_path %></button>
</div>