<p id="notice"><%= notice %></p>

<div class="container">
  <h3>Listing Texts</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Researcher</th>
        <th>Article</th>
        <th>Author number</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @texts.each do |text| %>
        <tr>
          <td><%= text.researcher.name %></td>
          <td><%= text.article.name %></td>
          <td><%= text.author_number %></td>
          <td><%= link_to 'Show', text %></td>
          <td><%= link_to 'Edit', edit_text_path(text) %></td>
          <td><%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <button type="button" class="btn btn-default">
    <%= link_to 'New Text', new_text_path %>
  </button>
</div>